<!DOCTYPE html>
<head>
    <title>
      Inovation week
    </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/be/be-all.js"></script>
</head>
<style>
  #container {
    height: 500px; 
    min-width: 310px; 
    max-width: 800px; 
    margin: 0 auto; 
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
</style>
<body>
    

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">werkstuk covid predictor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto undraggable">
              <li class="nav-item active">
                <a class="nav-item nav-link active" href="{% url 'index' %}">predictor <span class="sr-only">(current)</span></a>
              </li>
            
            </ul>
        </div>
      </nav>
    <div class="container">
    <main class="py-4">

        <div class="row">
          <div class="col-md">

            <div id="container"></div>

            
          </div>
           
        </div>
    </main>
  </div>

</body>

<script>
  //https://jsfiddle.net/gh/get/library/pure/highslide-software/highcharts.com/tree/master/samples/mapdata/countries/be/be-all?fbclid=IwAR2X8903aUmCnhlFH5HwUMpmQRubRrTbPBcxAZem_fgnP06BN2qNnOCPgh0
  // Prepare demo data
// Data is joined to map using value of 'hc-key' property by default.
// See API docs for 'joinBy' for more info on linking data and map.
var data = [
    ['be-3530', {{ brussel }}], //Brussel
    ['be-3534', {{ westvlaanderen }}], //West-vlaanderen
    ['be-3528', {{ liege }}], //Liege
    ['be-3529', {{ waalsbrabant }}], //Waals-Brabant
    ['be-3532', {{ vlaamsbrabant }}], //Vlaams-Brabant
    ['be-489', {{ hennegouwen }}], //Hainaut
    ['be-3535', {{ antwerpen }}], //Antwerpen
    ['be-490', {{ limburg }}],//Limburg
    ['be-3526', {{ namen }}], //Namur
    ['be-3527', {{ luxemburg }}],//Luxembourg
    ['be-3533', {{ oostvlaanderen }}] //Oost-Vlaanderen
];

// Create the chart
Highcharts.mapChart('container', {
    chart: {
        map: 'countries/be/be-all'
    },

    title: {
        text: 'Map of Belgium: predicted deads for each province tommorow'
    },

    subtitle: {
        text: 'Source map: <a href="http://code.highcharts.com/mapdata/countries/be/be-all.js">Belgium</a>'
    },

    mapNavigation: {
        enabled: true,
        buttonOptions: {
            verticalAlign: 'bottom'
        }
    },

    colorAxis: {
        min: 0
    },

    series: [{
        data: data,
        name: 'Predicted deads',
        states: {
            hover: {
                color: '#BADA55'
            }
        },
        dataLabels: {
            enabled: true,
            format: '{point.name}'
        }
    }]
});

</script>

</html>